<div class="center hero-unit">
  <h1>Welcome to the QMN App</h1>

  <h2>
    This is the home page for the QMN family based on 
    <a href="http://railstutorial.jp/">Ruby on Rails Tutorial</a>.
  </h2>
  <h3>
     Sign up now to be a member of this funniest family in the world!
  </h3>

  <%= link_to "Sign up now!", 'signup', class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "QMN"), 'https://www.flickr.com/photos/135728125@N03/20914160886/in/dateposted-public/' %>
